.supplier_po_tree .table th,
.invoice_tree th,
.change_notices_tree th,
.po_details_tree th,
.supplier_po_tree .table td,
.invoice_tree td,
.po_details_tree td,
.drawings_tree th,
.drawings_tree td,
.change_notices_tree td{
    width: auto;
}

.pp{
    color: #7c7bad;
    width: 5px !important;
}

.percentage::after{
    content:" %";
}

.negative_number{
    color: red;
}

